<% @categories = Category.all.order(:priority) %>
<%= form_with(url: articles_path) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label(:title, "Give it a title: " ) %>
      <%= f.text_field(:title) %><br>
      <%= f.label(:text, "Article body: " ) %>
      <%= f.text_area(:text) %><br>
      <%= f.label(:image, "Image: " ) %>
      <%= f.text_field(:image) %><br>
      <% @categories.collect do |category| %>
        <%= check_box_tag 'category_ids[]', category.id %>
        <%= category.name %><br>
      <% end %>
    </div>
  </div>
  <%= f.submit('Create') %>
<% end %>