<% @categories = Category.all.order(:priority) %>
<%= form_with(model: @article, local: true) do |f| %>
  <div class="field">
    <div class="control">
      <%= f.label(:title, "Give it a title: " ) %>
      <%= f.text_field(:title) %><br>
      <%= f.label(:text, "Article body: " ) %>
      <%= f.text_area(:text) %><br>
      <%= f.label(:picture, "Image: " ) %>
      <%= f.file_field :picture, direct_upload: true %><br>
      <% @categories.collect do |category| %>
        <%= check_box_tag 'category_ids[]', category.id %>
        <%= category.name %><br>
      <% end %>
    </div>
  </div>
  <%= f.submit('Create') %>
<% end %>