<%= most_voted_article %>
<div>Most view by category</div>
<% @categories.collect do |category| %>
  <%= category.name %><br>
  <% article = category.articles.order(created_at: :desc).first %>
  <% if article != nil %>
    <%= article.title %><br>
    <%= article.author.name %><br>
    <%= article.text %><br>
    <p>
      <%= image_tag(article.picture, width: 200, crop: :scale) %> 
    </p>
    <%= article.votes.size %><br>
    <% if current_user %>
      <% if article.votes.where(:user_id => session[:user_id], :article_id => article.id).size.zero? %>
        <%= link_to 'Add Vote', votes_create_path(article.id) %>
      <% else %>
        <%= link_to 'Remove Vote', votes_destroy_path(article.id) %>
      <% end %>
    <% end %>
  <% end %>
  <br>
<% end %>
