<div>Articles order by most recent</div>
<%= @category.name %><br>
<% @articles.collect do |article| %>
  <% if article != nil %>
    <%= article.title %><br>
    <%= article.author.name %><br>
    <%= article.text %><br>
    <p>
      <%= image_tag(article.picture, width: 200, crop: :scale) %> 
    </p>
    <%= article.votes.size %><br>
    <% if current_user %>
      <% if article.votes.where(:user_id => session[:user_id], :article_id => article.id).size.zero? %>
        <%= link_to 'Add Vote', votes_create_path(article.id) %>
      <% else %>
        <%= link_to 'Remove Vote', votes_destroy_path(article.id) %>
      <% end %>
    <% end %>
  <% end %>
  <br>
<% end %>
