<!DOCTYPE html>
<html>
  <head>
    <title>Automovillage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  </head>

  <body>
    <nav class="nav-container d-flex">
      <ul class="links-container d-flex w-100">
        <li>Brand Image</li>
        <ul class="d-flex">
          <li><%= link_to 'Home', root_path, class: 'nav-item nav-home' %></li>
          <%= render 'layouts/nav_category' %>
        </ul>
        <ul class="d-flex">
          <% if current_user %>
            <li><%= link_to 'Create Article', new_article_path, class: 'nav-item' %></li>
            <li><%= link_to current_user.name, root_path, class: 'nav-item' %></li>
            <li><%= link_to 'LOGOUT', sessions_destroy_path, class: 'nav-item' %></li>
          <% else %>
            <li><%= link_to 'LOGIN', sessions_log_in_path, class: 'nav-item' %></li>
            <li><%= link_to 'REGISTER', new_user_path, class: 'nav-item' %></li>
          <% end %>
        </ul>
      </ul>
    </nav>
    <%= yield %>
    <footer class="footer-container dark-gray-bg d-flex w-100">
      <ul class="footer-items-container d-flex w-100">
        <li class="d-flex">Brand Image</li>
        <ul class="d-flex">
          <li><%= link_to 'Privacy Police', root_path, class: 'footer-item orange' %></li>
          <li><%= link_to 'Terms & Conditions', root_path, class: 'footer-item orange' %></li>
          <li><%= link_to 'Copyright 2014. All rights reserved.', root_path, class: 'footer-item gray' %></li>
        </ul>
        <ul class="footer-items-container d-flex">
          <li><%= link_to 'Connect with us:', root_path, class: 'footer-item gray'%></li>
          <li class="social-container orange-bg d-flex">
            <a href="https://twitter.com/LoboArcano92" target="_blank">
              <i class="social-icon fab fa-twitter"></i>
            </a>
          </li>
          <li class="social-container orange-bg d-flex">
            <a href="https://www.linkedin.com/in/jose-roberto-perez-jimenez/" target="_blank">
              <i class="social-icon fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="social-container orange-bg d-flex">
            <a href="https://github.com/LoboArkano" target="_blank">
              <i class="social-icon fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
      </ul>
    </footer>
  </body>
</html>
