<!DOCTYPE html>
<html>
  <head>
    <title>Automovillage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="nav-container">
      <ul>
        <li>Brand Image</li>
          <ul>
            <li><%= link_to 'Home', root_path %></li>
            <%= render 'layouts/nav_category' %>
          </ul>
        <ul>
          <% if current_user %>
            <li><%= link_to 'Create Article', new_article_path, class: 'button is-primary'%></li>
            <li><%= current_user.name %></li>
            <li><%= link_to 'LOGOUT', sessions_destroy_path, class: 'button is-danger'%></li>
          <% else %>
            <li><%= link_to 'LOGIN', sessions_log_in_path, class: 'button is-primary'%></li>
            <li><%= link_to 'REGISTER', new_user_path, class: 'button is-primary'%></li>
          <% end %>
        </ul>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <div>Brand Image</div>
      <div>
        <div>Privacy Police</div>
        <div>Terms & Conditions</div>
        <div>Copyright 2014. All rights reserved.</div>
      </div>
      <div>
        Connect with us:
        <i>Twitter</i>
        <i>Instagram</i>
        <i>Facebook</i>
      </div>
    </footer>
  </body>
</html>
